{% extends "_base.html" %}

{% block content %}
    <header class="navbar sticky-top bg-dark" role="navigation">
        <button id="pull-button" class="btn btn-primary job-button" type="button">
            Pull
        </button>
        <button id="archivize-button" class="btn btn-primary job-button" type="button">
            Archivize
        </button>
    </header>

    <div class="container-fluid bg-light">
        <ul id="quest-list" class="list-group">
        </ul>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        const pullButton = $("#pull-button");
        const pullButtonReadyHTML = pullButton.html();
        const pullButtonInProgressHTML = '<span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>Pulling...';
        const pullButtonFailedHTML = "Pull failed";

        const autoPullInterval = 60 * 1000;

        const archivizeButton = $("#archivize-button");
        const archivizeButtonReadyHTML = archivizeButton.html();
        const archivizeButtonInProgressHTML = '<span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>Archivizing...';
        const archivizeButtonFailedHTML = "Archivization failed";

        const jobButtons = $(".job-button");

        let jobInProgress = false;

        const questList = $("#quest-list");

        function doPull() {
            return doInitializeQuestPull()
                .then(doInvokeQuestPull)
                .then(doUpdateQuestList)
                .then(doFinishPull)
                .fail(doNotifyPullFailure);
        }

        function doInitializeQuestPull() {
            let deferred = $.Deferred();

            if (jobInProgress) {
                return;
            }
            jobInProgress = true;
            console.log("Pulling...")
            jobButtons.addClass("disabled")
            pullButton.html(pullButtonInProgressHTML);

            deferred.resolve()

            return deferred;
        }

        function doInvokeQuestPull() {
            return $.get("{{ url_for("board_api.quests_pull") }}");
        }

        function doUpdateQuestList() {
            return $.getJSON("{{ url_for("board_api.quests_today") }}")
                .done(function (data) {
                    updateQuestList(data);
                });
        }

        function doFinishPull() {
            let deferred = $.Deferred();

            pullButton.html(pullButtonReadyHTML);
            pullButton.addClass("btn-primary");
            pullButton.removeClass("btn-danger");
            jobButtons.removeClass("disabled")
            jobInProgress = false;

            deferred.resolve();
            return deferred;
        }

        function doNotifyPullFailure() {
            let deferred = $.Deferred();

            pullButton.html(pullButtonFailedHTML);
            pullButton.addClass("btn-danger");
            pullButton.removeClass("btn-primary");
            jobButtons.removeClass("disabled");
            jobInProgress = false;

            deferred.resolve();
            return deferred;
        }

        function getQuestIdentifier(questId) {
            return `quest-${questId}`;
        }

        function parseQuestIdentifier(questIdentifier) {
            return questIdentifier.split("-")[1];
        }

        function htmlEscape(str) {
            return $("<div>").text(str).html();
        }

        function formatQuestBody(data) {
            return `${htmlEscape(data.name)}`;
        }

        function formatQuestItem(data) {
            let formatted = $(`<li id="${getQuestIdentifier(data.id)}" class="list-group-item quest-item">${formatQuestBody(data)}</li>`);
            setQuestItemDoneFlag(formatted, data.is_done);
            return formatted;
        }

        function updateQuest(quest, data) {
            quest.html(formatQuestBody(data));
            setQuestItemDoneFlag(quest, data.is_done);
        }

        function createQuest(data) {
            questList.append(formatQuestItem(data));
        }

        function createOrUpdateQuest(data) {
            let identifier = getQuestIdentifier(data.id);
            let quest = questList.find(`[id="${identifier}"]`);
            if (quest.length > 0) {
                updateQuest(quest, data);
            } else {
                createQuest(data);
            }
        }

        function removeOutdatedQuests(data) {
            const ids = $.map(data, x => getQuestIdentifier(x.id));
            questList.find("li").each(function () {
                const id = $(this).attr("id");
                if (! ids.includes(id)) {
                    $(this).remove();
                }
            });
        }

        function updateQuestList(data) {
            data.forEach(questData => createOrUpdateQuest(questData));
            removeOutdatedQuests(data);
        }

        function doArchivize() {
            return doInitializeArchivization()
                .then(doUpdateServerArchivizationStatus)
                .then(doUpdateQuestList)
                .then(doFinishArchivization)
                .fail(doNotifyArchivizationFailure)
        }

        function doInitializeArchivization() {
            let deferred = $.Deferred();

            if (jobInProgress) {
                return;
            }
            jobInProgress = true;
            console.log("Archivizing...")
            jobButtons.addClass("disabled")
            archivizeButton.html(archivizeButtonInProgressHTML);

            deferred.resolve()

            return deferred;
        }

        function doFinishArchivization() {
            let deferred = $.Deferred();

            archivizeButton.html(archivizeButtonReadyHTML);
            archivizeButton.addClass("btn-primary");
            archivizeButton.removeClass("btn-danger");
            jobButtons.removeClass("disabled")
            jobInProgress = false;

            deferred.resolve();
            return deferred;
        }

        function doNotifyArchivizationFailure() {
            let deferred = $.Deferred();

            archivizeButton.html(archivizeButtonFailedHTML);
            archivizeButton.addClass("btn-danger");
            archivizeButton.removeClass("btn-primary");
            jobButtons.removeClass("disabled");
            jobInProgress = false;

            deferred.resolve();
            return deferred;
        }

        function doUpdateServerArchivizationStatus() {
            let questsToArchivize = questList.find("li.quest-done");
            let data = {
                quests: $.map(questsToArchivize, quest => parseQuestIdentifier(quest.id))
            };
            return $.post("{{ url_for("board_api.bulk_archivize") }}", data);
        }

        function doToggleDone() {
            return doToggleDoneClass($(this))
                .then(doUpdateServerDoneStatus)
        }

        function doToggleDoneClass(questItem) {
            let deferred = $.Deferred();

            const targetDoneFlag = !questItem.hasClass("quest-done");
            setQuestItemDoneFlag(questItem, targetDoneFlag);

            deferred.resolve(questItem);
            return deferred;
        }

        function setQuestItemDoneFlag(questItem, flag) {
            if (flag) {
                questItem.addClass("quest-done");
                questItem.addClass("bg-success");
            } else {
                questItem.removeClass("quest-done");
                questItem.removeClass("bg-success");
            }
        }

        function doUpdateServerDoneStatus(questItem) {
            const questId = parseQuestIdentifier(questItem.attr("id"));
            const is_done = questItem.hasClass("quest-done");
            const url = "{{ url_for("board_api.quests", quest_id="QUEST_ID") }}".replace("QUEST_ID", questId);

            return $.post(url, {is_done: is_done});
        }

        pullButton.on("click", doPull);
        archivizeButton.on("click", doArchivize);
        $(document).on("click", ".quest-item", doToggleDone);

        questList.sortable()

        $(function () {
            doPull();
            setInterval(doPull, autoPullInterval);
        });
    </script>
{% endblock %}
