{% extends "_base.html" %}

{% block content %}
    <div class="board">
        <h1>Sources</h1>
        <ul class="list-group">
            {% for quest_source in current_user.quest_sources %}
                <li class="list-group-item">
                    {{ quest_source }}
                    <a href="{{ url_for("board.remove_quest_source", source_id=quest_source.id) }}" class="btn btn-danger btn-sm float-right">Remove</a>
                </li>
            {% endfor %}
        </ul>
        <a href="{{ url_for("board.add_trello_quest_source") }}" class="btn btn-primary">Add Trello source</a>
    </div>
{% endblock %}
