{% extends "_base.html" %}

{% block content %}
    <div class="container-fluid bg-light">
        <h1>Sources</h1>
        <ul class="list-group">
            {% for quest_source in current_user.quest_sources %}
                <li class="list-group-item container-fluid">
                    <div class="row">
                        <div class="col-sm-6">{{ quest_source }}</div>
                        <div class="col-sm-6 text-right">
                            <a href="{{ url_for("board.remove_quest_source", source_id=quest_source.id) }}" class="btn btn-danger btn-sm">Remove</a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="container-fluid bg-light">
        <h1>Graphs</h1>
        <ul id="graphs-list" class="list-group">
            {% for graph_source in current_user.image_graph_sources.order_by("priority").all() %}
                <li id="graph-{{ graph_source.id }}" class="list-group-item container-fluid">
                    <div class="row">
                        <div class="col-sm-2 col-4"><img src="{{ graph_source.url }}" alt="{{ graph_source.url }}" class="w-100"/></div>
                        <div class="col-sm-10 col-8 text-right">
                            <a href="{{ url_for("board.remove_image_graph_source", source_id=graph_source.id) }}" class="btn btn-danger btn-sm float-right">Remove</a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <a href="{{ url_for("board.add_image_graph_source") }}" class="btn btn-primary">Add image source</a>
    </div>
    <div class="container-fluid bg-light">
        <h1>Google</h1>
        <ul class="list-group">
            {% for google in current_user.googles %}
                <li id="google-{{ google.id }}" class="list-group-item container-fluid">
                    <div class="row">
                        <div class="col-sm-6">{{ google }}</div>
                        <div class="col-sm-6 text-right">
                            <a href="{{ url_for("board.add_google_quest_source", google_id=google.id) }}" class="btn btn-primary btn-sm">Add quest source</a>
                            <a href="{{ url_for("google.logout", google_id=google.id) }}" class="btn btn-danger btn-sm">Remove</a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <a href="{{ url_for("google.login") }}" class="btn btn-primary">Connect with Google</a>
    </div>
    <div class="container-fluid bg-light">
        <h1>Trello</h1>
        <ul class="list-group">
            {% for trello in current_user.trellos %}
                <li id="trello-{{ trello.id }}" class="list-group-item container-fluid">
                    <div class="row">
                        <div class="col-sm-6">{{ trello }}</div>
                        <div class="col-sm-6 text-right">
                            <a href="{{ url_for("board.add_trello_quest_source", trello_id=trello.id) }}" class="btn btn-primary btn-sm">Add quest source</a>
                            <a href="{{ url_for("trello.logout", trello_id=trello.id) }}" class="btn btn-danger btn-sm">Remove</a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <a href="{{ url_for("trello.login") }}" class="btn btn-primary">Connect with Trello</a>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        const graphsList = $("#graphs-list");

        function getGraphIdentifier(graphId) {
            return `graph-${graphId}`;
        }

        function parseQuestIdentifier(graphIdentifier) {
            return graphIdentifier.split("-")[1];
        }

        function doGetGraphsOrder() {
            let deferred = $.Deferred();

            let graphs = graphsList.find("li");
            let order = $.map(graphs, graph => parseQuestIdentifier(graph.id))

            deferred.resolve(order);
            return deferred;
        }

        function doSaveGraphsOrder(order) {
            return $.post("{{ url_for("board_api.graphs_set_order") }}", {order: order});
        }

        function doStoreGraphsOrder() {
            return doGetGraphsOrder()
                .then(doSaveGraphsOrder);
        }

        graphsList.sortable({
            update: doStoreGraphsOrder
        });
        graphsList.disableSelection();
    </script>
{% endblock %}
